{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parcours list</h1>
    <div id="map">
    </div>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg1xFdFYyk1E5Sa5Oxayr9pPCCfDTM5h8&callback=initMap">
    </script>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Niveau</th>
                <th>Duree</th>
                <th>Distance</th>
                <th>Typelocomotion</th>
                <th>Lieu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parcour in parcours %}
            <tr>
                <td><a href="{{ path('parcours_show', { 'id': parcour.id }) }}">{{ parcour.id }}</a></td>
                <td>{{ parcour.nom }}</td>
                <td>{{ parcour.niveau }}</td>
                <td>{{ parcour.duree }}</td>
                <td>{{ parcour.distance }}</td>
                <td>{{ parcour.typeLocomotion }}</td>
                <td>{{ parcour.lieu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parcours_show', { 'id': parcour.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('parcours_edit', { 'id': parcour.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parcours_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
