{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historique list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Distancetotal</th>
                <th>Badges</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for historique in historiques %}
            <tr>
                <td><a href="{{ path('historique_show', { 'id': historique.id }) }}">{{ historique.id }}</a></td>
                <td>{% if historique.date %}{{ historique.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ historique.distanceTotal }}</td>
                <td>{{ historique.badges }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('historique_show', { 'id': historique.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('historique_edit', { 'id': historique.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('historique_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
